/* 导航栏模块 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.w {
    width: 1210px;
    margin: 0 auto;
}
.style_Red {
    color: #c81623;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px;

}
.arrow-icon::after {
    content: "\e91e";
    font-family: 'icomoon';
    margin-left: 10px;
}
/* 头部模块 */
.header {
    position: relative;
    height: 105px;
    /* background-color: skyblue; */
}
.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 171px;
    height: 61px;
}
.logo a {
    /* a 是行内元素，行内元素无宽高属性，所以要通过转换成块级元素来赋予其宽高属性*/
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}
.search {
    position: absolute;
    top: 25px;
    left: 344px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}
.search input {
    /* 一浮全浮 */
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.search button {
    /* 一浮全浮 */
    float: right;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
}
.hotwords {
    position: absolute;
    top: 69px;
    left: 344px;
}
.hotwords a {
    margin-left: 18px;
}
.shopcar {
    position: absolute;
    right: 63px;
    top: 25px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before {
    content: "\e93a";
    font-family: 'icomoon';
    color: #e60012;
    margin-right: 5px;
}
.shopcar::after {
    content: "\e920";
    font-family: 'icomoon';
    margin-left: 10px;
}
.count {
    position: absolute;
    top: -4px;
    /* 此处定位时用的是left，原因是当购物车中商品数量过多数字可能会有好几位数时，首数字位置不动，多出的数字往后面“挤”，这样效果会更加符合常人的习惯 */
    left: 105px;
    height: 14px;
    /* 注意此处的 line-height: 14px; 是为了处理行高的继承性，如果不加line-height属性会继承其父元素shopcar的  line-height: 36px; 加上后可层叠掉。 */
    line-height: 14px;
    padding:  0 5px;
    color: #fff;
    background-color: #e60012;
    border-radius: 50% 50% 50% 0;
}
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.dropdown  {
    width: 209px;
    height: 45px;
    background-color: #b1191a;
    float: left;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.dropdown .dd {
    /* display: none; */
    width: 209px;
    height: 465px;
    background-color: #c81623;
    border-top: 2px solid #b1191a;
}
.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
}
.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 11px;
    content: "\e920";
    font-family: 'icomoon';
    font-size: 14px;
    color: #fff;

}
.dropdown .dd ul li:hover {
    background-color: #fff;
}
.dropdown .dd ul li:hover a {
    color: #c81623;
}
.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
    padding-left: 13px;
}
.navitems ul li {
    float: left;
}
.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 26px;
}
.footer {
    height: 417px;
    background-color: #f5f5f5;
}
.mod_service  {
    height: 110px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul {
    padding-top: 30px;
}
.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 37px;
}
/* ????? */
.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../images/icons.png) no-repeat -253px -3px;
    margin-right: 5px;
}
.service_txt h4 {
    font-size: 14px;
    font-weight: 600;
}
.service_txt p {
    font-size: 14px
}
.mod_help {
    height: 188px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    padding-top: 21px;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 95px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 13px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 17px; 
}
.links a {
    margin: 0 8px;
}
.copyright {
    line-height: 21px;
}
.footer {
    margin-top: 37px;
}